/* 全局样式 */
body {
  height: 100vh;
  font-family: "微软雅黑";
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: inherit;
  outline: none;
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid #000000;
  font-size: 14px;
}

/* 页面结构布局 */
/* 头部固定高度 */
.site-header {
  height: 100px;
  width: 100%;
  position: fixed;
}

.site-header + .site-container {
  padding-top: 100px;
}

.site-container {
  width: 100%;
  margin: 0 auto;
}

/* 固定居中980px */
.site-fragment {
  width: 980px;
  margin: 0 auto;
}

/* 底部 */
.site-footer {
  margin-top: 20px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}
