* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #fff 0%, #fff 50%, #4980f9 50%, #4980f9 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .signup__main {
    background-image: linear-gradient(to top, rgba(0, 35, 69, 0.5), rgba(172, 191, 210, 0.5)), url("https://marketplace.canva.com/MABKNHdksBw/1/screen/canva-top-view-of-mountain-and-lake--MABKNHdksBw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 20px;
    padding: 60px 30px;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 60%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  }
  .signup__main--heading {
    font-family: "Roboto", sans-serif;
    letter-spacing: 5px;
    font-size: 100px;
    line-height: 1;
    font-weight: 400;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    position: relative;
    z-index: 100;
    display: inline-block;
  }
  .signup__main--heading span {
    display: block;
  }
  
  .signin__link {
    margin-top: 20px;
    margin-left: 10px;
  }
  .signin__link-item:link, .signin__link-item:visited {
    color: #fff;
    font-size: 12px;
    letter-spacing: 3px;
    display: inline-block;
    text-transform: uppercase;
  }
  
  .signup {
    background-image: linear-gradient(#1b3c68, #1d5195);
    padding: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    right: -10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.4);
    z-index: 50;
  }
  .signup__close {
    align-self: flex-end;
    color: #b2d6f7;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 15px;
  }
  .signup__form {
    display: flex;
    flex-direction: column;
  }
  .signup__label {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .signup__email, .signup__password {
    border: 0;
    background: transparent;
    padding-bottom: 5px;
    border-bottom: 1px solid #0d5fb5;
    margin-bottom: 30px;
    color: #fff;
  }
  .signup__email:active, .signup__email:focus, .signup__password:active, .signup__password:focus {
    outline: 0;
  }
  .signup__email::-webkit-input-placeholder, .signup__password::-webkit-input-placeholder {
    color: #0d5fb5;
    font-size: 10px;
  }
  .signup__terms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    cursor: pointer;
  }
  .signup__terms--label {
    color: #0d5fb5;
    font-size: 10px;
  }
  .signup__terms--label span {
    color: #fff;
  }
  .signup__terms--checkbox {
    margin-right: 5px;
  }
  .signup__already {
    font-size: 10px;
    color: #639ad1;
  }
  
  .btn {
    border: none;
    outline: none;
    background-color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 10px;
    color: #1d84e8;
    font-size: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .footer {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  .footer a {
    color: #CCC;
  }